@import "tailwindcss";

@theme {
  --color-background: #111111;
  --color-primary: #3E86F5;
  --color-card: #1a1a1a;
  --color-text-primary: #f0f0f0;
  --color-text-secondary: #aaaaaa;
  --font-inter: var(--font-inter);
  
  /* Cores Vendas V2 */
  --color-primary-bg: #0A0A0A;
  --color-secondary-bg: #1A1A1A;
  --color-accent-blue: #00BFFF;
  --color-accent-gold: #D4AF37;
  --color-text-light: #E0E0E0;
  --color-text-muted: #A0A0A0;
  --font-space-grotesk: var(--font-space-grotesk);
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-inter), sans-serif;
}
